.header {
    background-color: bisque;
    border: black solid 1px;
    grid-area: header;
}

.footer {
    background-color: deeppink;
    border: black solid 1px;
    grid-area: footer;
}

.leftmain {
    background-color: cornflowerblue;
    border: black solid 1px;
    border-radius: 25px;
    grid-area: leftmain;
    padding: 15px;
    margin: 20px;
}

.rightmain {
    background-color: cornflowerblue;
    border: black solid 1px;
    border-radius: 25px;
    grid-area: rightmain;
    padding: 15px;
    margin: 20px;
}

.container {
    display: grid;
    grid-template-columns: 10% auto auto 10%;
    grid-template-rows: auto;
    grid-template-areas: "header header header header"
                         ". leftmain rightmain ."
                         "footer footer footer footer"
}

@media screen and (max-width: 1000px){
    .container {
        display: grid;
        grid-template-columns: 2% auto 2%;
        grid-template-rows: auto;
        grid-template-areas: "header header header"
                             ". leftmain ."
                             ". rightmain ."
                             "footer footer footer"
    }
}